<div class="container maxw-md">
    <div class="tar my flex ha-r">
        <button (click)="toggleSound()">
            <svg class="icon wh-3 pxy-05" *ngIf="hasSound">
                <use xlink:href="/assets/icons.svg#sound"></use>
            </svg>
            <svg class="icon wh-3 pxy-05" *ngIf="!hasSound">
                <use xlink:href="/assets/icons.svg#mute"></use>
            </svg>
        </button>
    </div>
    <div class="flex flex-start items-start ha-c gg-2">
        <app-board [config]="config" (newNextPieceEvent)="nextPiece.setPiece()" />
        <div>
            <app-next-piece [config]="config" #nextPiece />
            <app-score />
        </div>
    </div>
</div>

