<div class="flex gg">
    <ng-container *ngIf="devMode">
        <div>
            <div class="flex space-x mt w-16">
                <button (click)="test()" class="btn xs">Test</button>
                <button (click)="reload()" class="btn xs dark">Reload</button>
                <button (click)="handleGameOver()" class="btn xs dark">Game Over</button>
            </div>
            <pre class="pxy-05"><small>{{ devData | json }}</small></pre>
        </div>
    </ng-container>
    <div>
        <canvas #canvas class="bdrr stats board"></canvas>
    </div>
    <modal>
        <ng-container *ngIf="modalType === 'highScore'">
            <p>Congratulations! Your score has landed you among the top 10 players</p>
            <div class="frm-row">
                <input [(ngModel)]="playerName" name="name" placeholder="Enter your name..." required>
            </div>
        </ng-container>
        <ng-container *ngIf="modalType === 'gameOver'">
            <p>You did not make it to the top 10. Better luck next time!</p>ai-board.component
        </ng-container>
        <ng-container *ngIf="modalType === 'saveAndDisplayHighScore'">
            <app-high-score></app-high-score>
        </ng-container>
    </modal>
</div>
