<div class="flex gg">
    <ng-container *ngIf="devMode">
        <div>
            <div class="flex space-x mt w-16">
                <button (click)="test()" class="btn xs">Test</button>
                <button (click)="reload()" class="btn xs dark">Reload</button>
                <button (click)="handleGameOver()" class="btn xs dark">Game Over</button>
            </div>
            <pre class="pxy-05"><small>{{ devData | json }}</small></pre>
        </div>
    </ng-container>
    <div>
        <canvas #canvas class="bdrr stats board"></canvas>
    </div>
    <modal>
        <ng-container *ngIf="modalType === 'highScore'">
            <app-high-score></app-high-score>
        </ng-container>
    </modal>
</div>
