<div class="flex gg">
    <ng-container *ngIf="devMode">
        <div>
            <div class="flex space-x mt w-16">
                <!-- <button (click)="test()" class="btn xs">Test</button> -->
                <button (click)="reload()" class="btn xs dark">Reload</button>
                <button (click)="handleGameOver()" class="btn xs dark">Game Over</button>
            </div>
            <pre class="pxy-05"><small>{{ devData | json }}</small></pre>
        </div>
    </ng-container>
    <div>
        <canvas #canvas class="bdrr stats board"></canvas>
    </div>
    <modal>
        <ng-container *ngIf="modalType === 'enterHighScoreName'">
            <p>Enter you name and select continue.</p>
            <div class="frm-row">
                <input [(ngModel)]="playerName" name="name" placeholder="Enter your name..." required>
            </div>
        </ng-container>
        <ng-container *ngIf="modalType === 'gameOver'">
            <p>You did not make it to the top 10. Better luck next time!</p>
        </ng-container>
        <ng-container *ngIf="modalType === 'saveAndDisplayHighScore'">
            <app-high-score></app-high-score>
        </ng-container>
        <ng-container *ngIf="modalType === 'controls'">
            <div class="flex space-between"><strong>Action</strong> <strong>Key</strong></div>
            <div class="flex space-between">Move Left <span>Left Arrow</span></div>
            <div class="flex space-between">Move Right <span>Right Arrow</span></div>
            <div class="flex space-between">Drop <span>Down Arrow</span></div>
            <div class="flex space-between">Rotate <span>Up Arrow</span></div>
            <div class="flex space-between">Sound <span>M</span></div>
            <div class="flex space-between">Pause <span>P</span></div>
            <div class="flex space-between">Exit Game <span>Escape</span></div>
        </ng-container>
    </modal>
</div>
