<form class="bx-content minw-400">
    <div class="space-y-1">
        <div class="frm-row">
            <div class="flex space-between">
                <label for="columns">Columns x {{ config.columns }} </label>
            </div>
            <input [(ngModel)]="config.columns" name="columns" class="fg1" type="range" min="6" max="14" value="10" step="2">
        </div>
        <div class="frm-row">
            <div class="flex space-between">
                <label for="rows">Rows x {{ config.rows }}</label>
            </div>
            <input [(ngModel)]="config.rows" name="rows" type="range" min="10" max="30" value="20" step="2">
        </div>
        <div class="frm-row">
            <div class="flex space-between">
                <label for="rows">Start Level {{ config.startLevel }}</label>
            </div>
            <input [(ngModel)]="config.startLevel" name="startLevel" type="range" min="1" max="20" value="1">
        </div>
        <hr>
        <div class="frm-row">
            <div class="flex space-between">
                <label for="extended-game">Game Mode</label>
                <div class="flex">
                    <label class="w-6"> <input [(ngModel)]="config.extended" type="radio" [value]="false"
                            name="extended-game"> Normal </label>
                    <label class="w-6"> <input [(ngModel)]="config.extended" type="radio" [value]="true"
                            name="extended-game"> Extended </label>
                </div>
            </div>
        </div>
        <div class="frm-row">
            <div class="flex space-between">
                <label for="has-sound">Sound</label>
                <div class="flex">
                    <label class="w-6"> <input [(ngModel)]="config.hasSound" type="radio" [value]="false"
                            name="has-sound"> Disabled </label>
                    <label class="w-6"> <input [(ngModel)]="config.hasSound" type="radio" [value]="true"
                            name="has-sound"> Enabled </label>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="tar">
    <button class="btn red" disabled>AI Demo</button>
</div>
